extends layout.pug

block content
    div(class='container')
        div(class='tapes')
            h1 About
            p Welcome to MixTape!
            p GitHub Link:
            a(href='https://github.com/Ladan-hub/MixTape')
        div
            h1 Jingjing Xu 
            a(href='') LinkedIn