extends nav 
include utils.pug
append head
  link(rel='stylesheet' href='/stylesheets/tapes-2.css')
block content
    section
        .section-heading
          .grid-container
            .grid-x
              .cell
                h2 Are you sure?
        .grid-container
          .grid-x.grid-padding-x
            .cell 
                form(action=`/users/${userId}/tapes/${tapeId}/delete` method='post' class='newtapes')
                    button(type='submit' class='button1') Delete Tape
