
link(rel='stylesheet' href='/stylesheets/home.css')
block content
     section
        .section-heading
          .grid-container
            .grid-x
              .cell
                h2 Top Hits this Week
        .grid-container
          .grid-x.grid-padding-x
            .cell
              p to be added
     section
       .section-heading
         .grid-container
           .grid-x
             .cell
               h2 Recently Released
       .grid-container
         .grid-x.grid-padding-x
           .cell
             p songssssssss
     section
       .section-heading
         .grid-container 
           .grid-x 
             .cell
               h2 Keep Exploring
       .grid-container 
         .grid-x.grid-padding-x 
           .cell
             p asdfghjkhljhkgl

