main.main
  aside.sidebar
    nav.nav
      ul
        li.active
          a(href='#') Home
        li
          a(href='#') Liked
        li
          a(href='#') Interested
        li
          a(href='#') Make a Playlist

header.top-bar
  .grid-container.full
    .grid-x.align-justify
       a.logo(href="#") 
         i.fas.fa-weight-hanging 
          span Logo goes here
