extends layout.pug

include utils.pug

block content
    div(class='container')
        div(class='tapes')
            h1(style='text-align: center') Saved songs in your #{tap.tapeName}
            if !locals.authenticated
                table
                    thead
                        tr
                            th(scope='col') Song
                            th(scope='col') Artist
                            th(scope='col') Click here!
                    tbody
                        each song in playlist 
                            tr
                                td= song.name
                                td= song.artistName
                                td= song.youtubeURL
            else
                p: em There are no songs here.
