extends nav 
include utils.pug 
append head
  link(rel='stylesheet' href='/stylesheets/songlibrary.css')

block content
     section
        .section-heading
          .grid-container
            .grid-x
              .cell
              if songs
                h2 Songs
              else 
                h2 Song not found 
        .grid-container
          .grid-x.grid-padding-x
            .cell 
                each song in songs
                  a(class="allSongLinks" href=`songs/${song.id}`)
                    img(class="allSongImages" src=song.songImg)