extends layout.pug

include utils.pug

block content
    div(class='container')
        div(class='tapes')
            h1(style='text-align: center') YOUR PLAYLISTS
            form(action=`/tapes` method='post' class='newtapes')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='hidden' name='tapeId' value=tapeName)
                div(class='create-cancel-btn')
                    button(type='submit' class='create-btn') Create
                    a(href='/tapes' class='cancel-btn') Cancel 
            form(action=`/tapes` method='get' class='displaytapes')
                input(type='hidden' name='_csrf' value=csrfToken)
                    +field('TapeId', 'TapeId', tape.tapeId)
                    +field('Name', 'Name', tape.tapeName)
        div(class='songsdisplay')
            form(action=`/tapes/:id` method='get' class='displayallsongs')
                input(type='hidden' name='_csrf' value=csrfToken)
                    +field('SongName', 'SongName', song.name)
                    +field('SongArtits', 'SongArtists', song.artistName)
                    +field('YoutubeURL', 'youtubeURL', song.youtubeURL)