extends layout.pug
include utils.pug
block content
    div(class='container')
        div(class='tapes')
            h1(style='text-align: center') YOUR TAPE
            form(action=`/users/${userId}/tapes` method='post' class='newtapes')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='text' name='tapeName' value=tapeName)
                div(class='create-cancel-btn')
                    button(type='submit' class='create-btn') Create
                    a(href='/tapes' class='cancel-btn') Cancel
        div
            each tape in tapes
                a(href=`/users/${userId}/tapes/${tape.id}`)=tape.tapeName
