extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/login' method='post' class='loginPage')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email Address', 'emailAddress', emailAddress)
    +field('Password', 'password', null, 'password')
    div(class='py-4')
      button(type='submit' class='btn-1') Login
      a(href='/cancel' class='btn-2') Cancel
    div
      a(href='/guest' class='btn-2') Continues as a Guest
