extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/register' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('User Name', 'username', user.username)
    +field('Email Address', 'emailAddress', user.emailAddress)
    +field('Password', 'password', user.password, 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password')
    div(class='py-4')
      button(type='submit' class='btn-1') Register
      a(href='/register' class='btn-2') Cancel
  div
    p: a(href='/') Already have an account?