.navigation-bar {
    background: beige;
    display: flex;
    justify-content: space-between;
    height: 100px;
    text-align: center;
}
.home-playlist-bar {
    background-color: black;
}
.home {
    padding-right: 50px;
}
.playlist {
    padding-left: 50px;
}
.nav-btn {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}
.info-btn {
    display: flex;
    justify-content: right;
}
.login-status {
    padding-right: 50px;
}
.active-btn,
.logout-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: “Inter var”, ui-sans-serif, system-ui, -apple-system, system-ui, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, “Noto Sans”, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”, “Noto Color Emoji”;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-flex;
    justify-content: center;
}
.active-btn:hover,
.logout-btn:hover {
    background-color: rgb(249, 250, 251);
}
.active-btn:focus,
.logout-btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.active-btn:focus-visible {
    box-shadow: none;
}
.btn-left {
    margin-right: 10px;
}
.btn-right {
    margin: 30px;
}
.info-btn {
    display: flex;
    justify-content: center;
    text-align: center;
}
.login-status {
    background-color: azure;
    text-align: center;
    justify-content: center;
    font-family: ‘Dekko’;
    font-size: 20px;
}
