.register-button {
/* background-color: beige; */
}

.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
body {
    /* background-color: beige; */
}

form {
    display: border-box;
    /* background-color: beige; */
    /* border-style: dashed; */
    align-items: center;
    text-align: center;
    color:black;

}

.form-group{
    justify-content: space-between;
    padding-top:10px;
	padding-bottom:5px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-1 {
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    border-style: groove;
}

.btn-2 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.alert{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: beige; */
}
